---
interface Props {
	href: string;
    download?: string
}

const { href, download = "" } : Props = Astro.props;
---

{download !== "" ? 
    <a href={href} target="_blank" class="bg-black-base text-white hover:opacity-75 px-3 py-[0.3rem] rounded mr-3 flex flex-wrap mb-5 md:mb-0 w-16 md:w-auto justify-center" download="curriculumn_nibaldochavez">
        <slot/>
    </a>
    : 
    <a href={href} target="_blank" class="bg-black-base text-white hover:opacity-75 px-3 py-[0.3rem] rounded mr-3 flex flex-wrap mb-5 md:mb-0 w-16 md:w-auto justify-center" >
        <slot/>
    </a>
}