---
interface Props {
	href: string;
    download?: boolean
}

const { href, download = false } = Astro.props;
---

<a href={href} target="_blank" class="bg-black-base text-white hover:opacity-75 px-3 py-[0.3rem] rounded mr-3 flex flex-wrap mb-5 md:mb-0 w-16 md:w-auto justify-center" download={download}>
    <slot/>
</a>